USE [master]
GO
/****** Object:  Database [DW]    Script Date: 7/12/2026 4:30:32 PM ******/
CREATE DATABASE [DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW', FILENAME = N'C:\Users\jason\Downloads\MSSQL17.SQLEXPRESS\MSSQL\DATA\DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_log', FILENAME = N'C:\Users\jason\Downloads\MSSQL17.SQLEXPRESS\MSSQL\DATA\DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW]
GO
/****** Object:  Schema [bronze]    Script Date: 7/12/2026 4:30:32 PM ******/
CREATE SCHEMA [bronze]
GO
/****** Object:  Schema [gold]    Script Date: 7/12/2026 4:30:32 PM ******/
CREATE SCHEMA [gold]
GO
/****** Object:  Schema [silver]    Script Date: 7/12/2026 4:30:32 PM ******/
CREATE SCHEMA [silver]
GO
/****** Object:  Table [silver].[crm_client_info]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[crm_client_info](
	[client_id] [int] NULL,
	[client_key] [nvarchar](50) NULL,
	[client_firstname] [nvarchar](50) NULL,
	[client_lastname] [nvarchar](50) NULL,
	[client_marital_status] [nvarchar](50) NULL,
	[client_gender] [nvarchar](50) NULL,
	[client_create_dt] [date] NULL,
	[dw_create_date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[erp_invoice_client]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[erp_invoice_client](
	[clientid] [nvarchar](50) NULL,
	[client_country] [nvarchar](50) NULL,
	[client_birth_dt] [date] NULL,
	[client_gender] [nvarchar](50) NULL,
	[client_account_status] [nvarchar](50) NULL,
	[client_segment] [nvarchar](50) NULL,
	[dw_create_date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [gold].[dim_clients]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [gold].[dim_clients] AS
SELECT
    ROW_NUMBER() OVER (ORDER BY ci.client_id) AS client_key,
    ci.client_id                               AS client_id,
    ci.client_key                              AS client_number,
    ci.client_firstname                        AS first_name,
    ci.client_lastname                         AS last_name,
    ci.client_marital_status                   AS marital_status,
    CASE WHEN ci.client_gender != 'n/a' THEN ci.client_gender
         ELSE COALESCE(ec.client_gender, 'n/a')
    END                                        AS gender,
    ec.client_country                          AS country,
    ec.client_birth_dt                         AS birth_date,
    ec.client_account_status                   AS account_status,
    ec.client_segment                          AS client_segment,
    ci.client_create_dt                        AS create_date
FROM silver.crm_client_info ci
LEFT JOIN silver.erp_invoice_client ec
    ON RIGHT(ci.client_key, 4) = RIGHT(ec.clientid, 4)
GO
/****** Object:  Table [silver].[crm_product_info]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[crm_product_info](
	[prod_id] [int] NULL,
	[prod_key] [nvarchar](50) NULL,
	[prod_nm] [nvarchar](50) NULL,
	[prod_cost] [int] NULL,
	[prod_type] [nvarchar](50) NULL,
	[prod_start_dt] [date] NULL,
	[prod_end_dt] [date] NULL,
	[dw_create_date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[erp_product_details]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[erp_product_details](
	[product_key] [nvarchar](50) NULL,
	[product_category] [nvarchar](50) NULL,
	[product_subcategory] [nvarchar](50) NULL,
	[product_maintenance] [nvarchar](50) NULL,
	[product_level] [int] NULL,
	[dw_create_date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [gold].[dim_products]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [gold].[dim_products] AS
SELECT
    ROW_NUMBER() OVER (ORDER BY pi.prod_start_dt, pi.prod_key) AS product_key,
    pi.prod_id                                                  AS product_id,
    pi.prod_key                                                 AS product_number,
    pi.prod_nm                                                  AS product_name,
    pi.prod_cost                                                AS cost,
    pi.prod_type                                                AS product_type,
    pd.Product_category                                         AS category,
    pd.Product_subcategory                                      AS subcategory,
    pd.Product_maintenance                                      AS maintenance,
    pd.product_level                                            AS product_level,
    pi.prod_start_dt                                            AS start_date
FROM silver.crm_product_info pi
LEFT JOIN silver.erp_product_details pd
    ON pi.prod_key = pd.product_key
GO
/****** Object:  View [gold].[dim_territory]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [gold].[dim_territory] AS
SELECT
    ROW_NUMBER() OVER (ORDER BY client_country, client_segment) AS territory_key,
    client_country                                               AS country,
    CASE WHEN client_segment = '' OR client_segment IS NULL THEN 'n/a'
         ELSE client_segment
    END                                                          AS client_segment
FROM (
    SELECT DISTINCT
        client_country,
        client_segment
    FROM silver.erp_invoice_client
) t
GO
/****** Object:  Table [silver].[erp_invoice_transactions]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[erp_invoice_transactions](
	[invoice_id] [nvarchar](50) NULL,
	[invoice_ord_num] [nvarchar](50) NULL,
	[invoice_status] [nvarchar](50) NULL,
	[invoice_issue_dt] [date] NULL,
	[dw_create_date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [gold].[dim_invoice_status]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [gold].[dim_invoice_status] AS
SELECT
    ROW_NUMBER() OVER (ORDER BY Invoice_status) AS invoice_status_key,
    CASE WHEN Invoice_status = '' OR Invoice_status IS NULL THEN 'n/a'
         ELSE Invoice_status
    END                                          AS invoice_status
FROM (
    SELECT DISTINCT Invoice_status
    FROM silver.erp_invoice_transactions
) t
GO
/****** Object:  Table [silver].[crm_sales_info]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[crm_sales_info](
	[sales_ord_num] [nvarchar](50) NULL,
	[sales_prd_key] [nvarchar](50) NULL,
	[sales_client_id] [int] NULL,
	[sales_order_dt] [date] NULL,
	[sales_ship_dt] [date] NULL,
	[sales_due_dt] [date] NULL,
	[sales_sales] [float] NULL,
	[sales_quantity] [int] NULL,
	[sales_price] [float] NULL,
	[dw_create_date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [gold].[fact_sales]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [gold].[fact_sales] AS
SELECT
    si.sales_ord_num        AS order_number,
    dc.client_key           AS client_key,
    dp.product_key          AS product_key,
    dt.territory_key        AS territory_key,
    dis.invoice_status_key  AS invoice_status_key,
    si.sales_order_dt       AS order_date,
    si.sales_ship_dt        AS ship_date,
    si.sales_due_dt         AS due_date,
    si.sales_sales          AS sales_amount,
    si.sales_quantity       AS quantity,
    si.sales_price          AS price
FROM silver.crm_sales_info si
LEFT JOIN gold.dim_clients dc
    ON si.sales_client_id = dc.client_id
LEFT JOIN gold.dim_products dp
    ON si.sales_prd_key = dp.product_number
LEFT JOIN gold.dim_territory dt
    ON dc.country = dt.country
    AND dc.client_segment = dt.client_segment
LEFT JOIN silver.erp_invoice_transactions it
    ON si.sales_ord_num = it.Invoice_ord_num
LEFT JOIN gold.dim_invoice_status dis
    ON it.Invoice_status = dis.invoice_status
GO
/****** Object:  Table [bronze].[crm_client_info]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[crm_client_info](
	[client_id] [int] NULL,
	[client_key] [nvarchar](50) NULL,
	[client_firstname] [nvarchar](50) NULL,
	[client_lastname] [nvarchar](50) NULL,
	[client_marital_status] [nvarchar](50) NULL,
	[client_gender] [nvarchar](50) NULL,
	[client_create_dt] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[crm_product_info]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[crm_product_info](
	[prod_id] [int] NULL,
	[prod_key] [nvarchar](50) NULL,
	[prod_nm] [nvarchar](50) NULL,
	[prod_cost] [int] NULL,
	[prod_type] [nvarchar](50) NULL,
	[prod_start_dt] [datetime] NULL,
	[prod_end_dt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[crm_sales_info]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[crm_sales_info](
	[sales_ord_num] [nvarchar](50) NULL,
	[sales_prd_key] [nvarchar](50) NULL,
	[sales_client_id] [int] NULL,
	[sales_order_dt] [int] NULL,
	[sales_ship_dt] [int] NULL,
	[sales_due_dt] [int] NULL,
	[sales_sales] [int] NULL,
	[sales_quantity] [int] NULL,
	[sales_price] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[erp_invoice_client]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[erp_invoice_client](
	[clientid] [nvarchar](50) NULL,
	[client_country] [nvarchar](50) NULL,
	[client_birth_dt] [date] NULL,
	[client_gender] [nvarchar](50) NULL,
	[client_account_status] [nvarchar](50) NULL,
	[client_segment] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[erp_invoice_transactions]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[erp_invoice_transactions](
	[invoice_id] [nvarchar](50) NULL,
	[invoice_ord_num] [nvarchar](50) NULL,
	[invoice_status] [nvarchar](50) NULL,
	[invoice_issue_dt] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[erp_product_details]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[erp_product_details](
	[product_key] [nvarchar](50) NULL,
	[product_category] [nvarchar](50) NULL,
	[product_subcategory] [nvarchar](50) NULL,
	[product_maintenance] [nvarchar](50) NULL,
	[product_level] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flyway_schema_history]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flyway_schema_history](
	[installed_rank] [int] NOT NULL,
	[version] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[type] [nvarchar](20) NOT NULL,
	[script] [nvarchar](1000) NOT NULL,
	[checksum] [int] NULL,
	[installed_by] [nvarchar](100) NOT NULL,
	[installed_on] [datetime] NOT NULL,
	[execution_time] [int] NOT NULL,
	[success] [bit] NOT NULL,
 CONSTRAINT [flyway_schema_history_pk] PRIMARY KEY CLUSTERED 
(
	[installed_rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[tier] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [bronze].[crm_product_info] ([prod_id], [prod_key], [prod_nm], [prod_cost], [prod_type], [prod_start_dt], [prod_end_dt]) VALUES (1, N'PRD00000001', N'Road Bike Pro 100', 1200, N'Road Bikes', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime))
INSERT [bronze].[crm_product_info] ([prod_id], [prod_key], [prod_nm], [prod_cost], [prod_type], [prod_start_dt], [prod_end_dt]) VALUES (2, N'PRD00000002', N'Mountain Bike Elite 200', 1500, N'Mountain Bikes', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime))
INSERT [bronze].[crm_product_info] ([prod_id], [prod_key], [prod_nm], [prod_cost], [prod_type], [prod_start_dt], [prod_end_dt]) VALUES (3, N'PRD00000003', N'Hybrid Commuter 300', 900, N'Hybrid Bikes', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime))
GO
INSERT [bronze].[crm_sales_info] ([sales_ord_num], [sales_prd_key], [sales_client_id], [sales_order_dt], [sales_ship_dt], [sales_due_dt], [sales_sales], [sales_quantity], [sales_price]) VALUES (N'SO00000001', N'PRD00000001', 1001, 20250105, 20250107, 20250112, 1200, 1, 1200)
INSERT [bronze].[crm_sales_info] ([sales_ord_num], [sales_prd_key], [sales_client_id], [sales_order_dt], [sales_ship_dt], [sales_due_dt], [sales_sales], [sales_quantity], [sales_price]) VALUES (N'SO00000002', N'PRD00000015', 1002, 20250105, 20250108, 20250113, 65, 2, 130)
INSERT [bronze].[crm_sales_info] ([sales_ord_num], [sales_prd_key], [sales_client_id], [sales_order_dt], [sales_ship_dt], [sales_due_dt], [sales_sales], [sales_quantity], [sales_price]) VALUES (N'SO00000003', N'PRD00000032', 1003, 20250106, 20250109, 20250114, 1350, 1, 1350)
GO
INSERT [bronze].[erp_invoice_client] ([clientid], [client_country], [client_birth_dt], [client_gender], [client_account_status], [client_segment]) VALUES (N'NAS-1001', N'Ireland', CAST(N'1962-03-30' AS Date), N'male', N'Suspended', N'Enterprise')
INSERT [bronze].[erp_invoice_client] ([clientid], [client_country], [client_birth_dt], [client_gender], [client_account_status], [client_segment]) VALUES (N'NAS-1002', N'Ireland', CAST(N'1972-07-08' AS Date), N'Female', N'Suspended', N'Retail')
INSERT [bronze].[erp_invoice_client] ([clientid], [client_country], [client_birth_dt], [client_gender], [client_account_status], [client_segment]) VALUES (N'NAS-1003', N'USA', CAST(N'1967-10-19' AS Date), N'male', N'Active', N'Corporate')
GO
INSERT [bronze].[erp_invoice_transactions] ([invoice_id], [invoice_ord_num], [invoice_status], [invoice_issue_dt]) VALUES (N'INV00000001', N'SO00000001', N'Paid', CAST(N'2025-01-06' AS Date))
INSERT [bronze].[erp_invoice_transactions] ([invoice_id], [invoice_ord_num], [invoice_status], [invoice_issue_dt]) VALUES (N'INV00000002', N'SO00000002', N'Paid', CAST(N'2025-01-07' AS Date))
INSERT [bronze].[erp_invoice_transactions] ([invoice_id], [invoice_ord_num], [invoice_status], [invoice_issue_dt]) VALUES (N'INV00000003', N'SO00000003', N'Paid', CAST(N'2025-01-09' AS Date))
GO
INSERT [bronze].[erp_product_details] ([product_key], [product_category], [product_subcategory], [product_maintenance], [product_level]) VALUES (N'PRD00000001', N'Bikes', N'Road', N'Annual Service', 22)
INSERT [bronze].[erp_product_details] ([product_key], [product_category], [product_subcategory], [product_maintenance], [product_level]) VALUES (N'PRD00000002', N'Bikes', N'Mountain', N'Annual Service', 21)
INSERT [bronze].[erp_product_details] ([product_key], [product_category], [product_subcategory], [product_maintenance], [product_level]) VALUES (N'PRD00000003', N'Bikes', N'Hybrid', N'Annual Service', 16)
GO
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (1, N'1', N'create users table', N'SQL', N'V1__create_users_table.sql', -499284556, N'salesuser', CAST(N'2026-06-12T19:07:29.170' AS DateTime), 10, 1)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [tier], [created_at]) VALUES (1, N'jason', N'$2a$10$9aN/X5mZUj8jXmqPKlO/meu2.OozD/aES/OgKysERqsUOA4SfGCDK', N'ENTERPRISE', CAST(N'2026-06-19T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [password], [tier], [created_at]) VALUES (3, N'test', N'$2a$10$cV4vyfNNPemp8WlxIVydEu.8Bdz1bmiKaz6kClWiW0fdrACf0iVn2', N'ENTERPRISE', CAST(N'2026-07-03T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [password], [tier], [created_at]) VALUES (6, N'Pat', N'$2a$10$nYkT/gH2FjF37UImTFo40u4oZyzS1n1qD6nA0.ULrO9XA2eIX4Gyu', N'GROWTH', CAST(N'2026-07-09T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
INSERT [silver].[crm_client_info] ([client_id], [client_key], [client_firstname], [client_lastname], [client_marital_status], [client_gender], [client_create_dt], [dw_create_date]) VALUES (1001, N'CL00001001', N'James', N'Murphy', N'Single', N'Male', CAST(N'2025-01-05' AS Date), CAST(N'2026-05-11T13:04:10.8666667' AS DateTime2))
INSERT [silver].[crm_client_info] ([client_id], [client_key], [client_firstname], [client_lastname], [client_marital_status], [client_gender], [client_create_dt], [dw_create_date]) VALUES (1002, N'CL00001002', N'Sarah', N'O''Brien', N'Married', N'Female', CAST(N'2025-01-05' AS Date), CAST(N'2026-05-11T13:04:10.8666667' AS DateTime2))
INSERT [silver].[crm_client_info] ([client_id], [client_key], [client_firstname], [client_lastname], [client_marital_status], [client_gender], [client_create_dt], [dw_create_date]) VALUES (1003, N'CL00001003', N'Liam', N'Walsh', N'Single', N'Male', CAST(N'2025-01-06' AS Date), CAST(N'2026-05-11T13:04:10.8666667' AS DateTime2))
GO
INSERT [silver].[crm_product_info] ([prod_id], [prod_key], [prod_nm], [prod_cost], [prod_type], [prod_start_dt], [prod_end_dt], [dw_create_date]) VALUES (1, N'PRD00000001', N'Road Bike Pro 100', 1200, N'Road Bikes', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), CAST(N'2026-05-11T13:25:47.5500000' AS DateTime2))
INSERT [silver].[crm_product_info] ([prod_id], [prod_key], [prod_nm], [prod_cost], [prod_type], [prod_start_dt], [prod_end_dt], [dw_create_date]) VALUES (2, N'PRD00000002', N'Mountain Bike Elite 200', 1500, N'Mountain Bikes', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), CAST(N'2026-05-11T13:25:47.5500000' AS DateTime2))
INSERT [silver].[crm_product_info] ([prod_id], [prod_key], [prod_nm], [prod_cost], [prod_type], [prod_start_dt], [prod_end_dt], [dw_create_date]) VALUES (3, N'PRD00000003', N'Hybrid Commuter 300', 900, N'Hybrid Bikes', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), CAST(N'2026-05-11T13:25:47.5500000' AS DateTime2))
GO
INSERT [silver].[crm_sales_info] ([sales_ord_num], [sales_prd_key], [sales_client_id], [sales_order_dt], [sales_ship_dt], [sales_due_dt], [sales_sales], [sales_quantity], [sales_price], [dw_create_date]) VALUES (N'SO00000001', N'PRD00000001', 1001, CAST(N'2025-01-05' AS Date), CAST(N'2025-01-07' AS Date), CAST(N'2025-01-12' AS Date), 1200, 1, 1200, CAST(N'2026-05-11T13:04:10.8700000' AS DateTime2))
INSERT [silver].[crm_sales_info] ([sales_ord_num], [sales_prd_key], [sales_client_id], [sales_order_dt], [sales_ship_dt], [sales_due_dt], [sales_sales], [sales_quantity], [sales_price], [dw_create_date]) VALUES (N'SO00000002', N'PRD00000015', 1002, CAST(N'2025-01-05' AS Date), CAST(N'2025-01-08' AS Date), CAST(N'2025-01-13' AS Date), 260, 2, 130, CAST(N'2026-05-11T13:04:10.8700000' AS DateTime2))
INSERT [silver].[crm_sales_info] ([sales_ord_num], [sales_prd_key], [sales_client_id], [sales_order_dt], [sales_ship_dt], [sales_due_dt], [sales_sales], [sales_quantity], [sales_price], [dw_create_date]) VALUES (N'SO00000003', N'PRD00000032', 1003, CAST(N'2025-01-06' AS Date), CAST(N'2025-01-09' AS Date), CAST(N'2025-01-14' AS Date), 1350, 1, 1350, CAST(N'2026-05-11T13:04:10.8700000' AS DateTime2))
GO
INSERT [silver].[erp_invoice_client] ([clientid], [client_country], [client_birth_dt], [client_gender], [client_account_status], [client_segment], [dw_create_date]) VALUES (N'NAS-1001', N'Ireland', CAST(N'1962-03-30' AS Date), N'Male', N'Suspended', N'Enterprise', CAST(N'2026-05-11T14:04:16.7233333' AS DateTime2))
INSERT [silver].[erp_invoice_client] ([clientid], [client_country], [client_birth_dt], [client_gender], [client_account_status], [client_segment], [dw_create_date]) VALUES (N'NAS-1002', N'Ireland', CAST(N'1972-07-08' AS Date), N'Female', N'Suspended', N'Retail', CAST(N'2026-05-11T14:04:16.7233333' AS DateTime2))
INSERT [silver].[erp_invoice_client] ([clientid], [client_country], [client_birth_dt], [client_gender], [client_account_status], [client_segment], [dw_create_date]) VALUES (N'NAS-1003', N'USA', CAST(N'1967-10-19' AS Date), N'Male', N'Active', N'Corporate', CAST(N'2026-05-11T14:04:16.7233333' AS DateTime2))
GO
INSERT [silver].[erp_invoice_transactions] ([invoice_id], [invoice_ord_num], [invoice_status], [invoice_issue_dt], [dw_create_date]) VALUES (N'INV00000001', N'SO00000001', N'Paid', CAST(N'2025-01-06' AS Date), CAST(N'2026-05-11T14:53:46.4566667' AS DateTime2))
INSERT [silver].[erp_invoice_transactions] ([invoice_id], [invoice_ord_num], [invoice_status], [invoice_issue_dt], [dw_create_date]) VALUES (N'INV00000002', N'SO00000002', N'Paid', CAST(N'2025-01-07' AS Date), CAST(N'2026-05-11T14:53:46.4566667' AS DateTime2))
INSERT [silver].[erp_invoice_transactions] ([invoice_id], [invoice_ord_num], [invoice_status], [invoice_issue_dt], [dw_create_date]) VALUES (N'INV00000003', N'SO00000003', N'Paid', CAST(N'2025-01-09' AS Date), CAST(N'2026-05-11T14:53:46.4566667' AS DateTime2))
GO
INSERT [silver].[erp_product_details] ([product_key], [product_category], [product_subcategory], [product_maintenance], [product_level], [dw_create_date]) VALUES (N'PRD00000001', N'Bikes', N'Road', N'Annual Service', 22, CAST(N'2026-05-11T14:36:57.7500000' AS DateTime2))
INSERT [silver].[erp_product_details] ([product_key], [product_category], [product_subcategory], [product_maintenance], [product_level], [dw_create_date]) VALUES (N'PRD00000002', N'Bikes', N'Mountain', N'Annual Service', 21, CAST(N'2026-05-11T14:36:57.7500000' AS DateTime2))
INSERT [silver].[erp_product_details] ([product_key], [product_category], [product_subcategory], [product_maintenance], [product_level], [dw_create_date]) VALUES (N'PRD00000003', N'Bikes', N'Hybrid', N'Annual Service', 16, CAST(N'2026-05-11T14:36:57.7500000' AS DateTime2))
GO
/****** Object:  Index [flyway_schema_history_s_idx]    Script Date: 7/12/2026 4:30:32 PM ******/
CREATE NONCLUSTERED INDEX [flyway_schema_history_s_idx] ON [dbo].[flyway_schema_history]
(
	[success] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5727BF59007]    Script Date: 7/12/2026 4:30:32 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[flyway_schema_history] ADD  DEFAULT (getdate()) FOR [installed_on]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [silver].[crm_client_info] ADD  DEFAULT (getdate()) FOR [dw_create_date]
GO
ALTER TABLE [silver].[crm_product_info] ADD  DEFAULT (getdate()) FOR [dw_create_date]
GO
ALTER TABLE [silver].[crm_sales_info] ADD  DEFAULT (getdate()) FOR [dw_create_date]
GO
ALTER TABLE [silver].[erp_invoice_client] ADD  DEFAULT (getdate()) FOR [dw_create_date]
GO
ALTER TABLE [silver].[erp_invoice_transactions] ADD  DEFAULT (getdate()) FOR [dw_create_date]
GO
ALTER TABLE [silver].[erp_product_details] ADD  DEFAULT (getdate()) FOR [dw_create_date]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_tier] CHECK  (([tier]='ENTERPRISE' OR [tier]='PRO' OR [tier]='GROWTH'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_tier]
GO
/****** Object:  StoredProcedure [bronze].[load_bronze]    Script Date: 7/12/2026 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [bronze].[load_bronze] AS
BEGIN
-- Runtime variables to track load durations, individual and full procedures
	DECLARE @start_time DATETIME, @end_time DATETIME, @batch_start_time DATETIME, @batch_end_time DATETIME;
-- Wrapped in a try/catch, debbuging
	BEGIN TRY
		-- time stamp for calculating how long the entire bacth took to load 
		SET @batch_start_time = GETDATE();
		PRINT '===============================================';
		PRINT 'Loading the Bronze Layer';
		PRINT '===============================================';

	-- ============================================================
    -- CRM TABLES
    -- ============================================================

		PRINT '===============================================';
		PRINT ' CRM Tables being loaded';
		PRINT '===============================================';

		-- Begin to load corresponding data associated with crm
		-- follows same patterns: truncate, bulk load data and print load time throughout

		-- Load CRM client data:
		SET @start_time = GETDATE();
		PRINT '-- Truncating Table: bronze.crm_client_info';
		TRUNCATE TABLE bronze.crm_client_info;
		BULK INSERT bronze.crm_client_info
		FROM 'C:\Users\jason\Desktop\DataWarehouseProject\datasets\src_crm\client_info.csv' 
		WITH (
			FIRSTROW = 2,
			FIELDTERMINATOR = ',',
			TABLOCK
		);
		SET @end_time = GETDATE();
		PRINT '-- Load Time: ' + CAST (DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';

		-- Load CRM product data:
		SET @start_time = GETDATE();
		PRINT '-- Truncating Table: bronze.crm_product_info';
		TRUNCATE TABLE bronze.crm_product_info;
		BULK INSERT bronze.crm_product_info
		FROM 'C:\Users\jason\Desktop\DataWarehouseProject\datasets\src_crm\product_info.csv'
		WITH (
			FIRSTROW = 2,
			FIELDTERMINATOR = ',',
			TABLOCK
		);
		SET @end_time = GETDATE();
		PRINT '-- Load Time: ' + CAST (DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';

		 -- Load CRM sales data:
		SET @start_time = GETDATE();
		PRINT '-- Truncating Table: bronze.crm_sales_info';
		TRUNCATE TABLE bronze.crm_sales_info;
		BULK INSERT bronze.crm_sales_info
		FROM 'C:\Users\jason\Desktop\DataWarehouseProject\datasets\src_crm\sales_info.csv'
		WITH (
			FIRSTROW = 2,
			FIELDTERMINATOR = ',',
			TABLOCK
		);
		SET @end_time = GETDATE();
		PRINT '-- Load Time: ' + CAST (DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';

	-- ============================================================
    -- ERP TABLES
    -- ============================================================

		PRINT '===============================================';
		PRINT ' ERP Tables being loaded';
		PRINT '===============================================';

		-- Load ERP client geography data:
		SET @start_time = GETDATE();
		PRINT '-- Truncating Table: bronze.erp_invoice_client';
		TRUNCATE TABLE bronze.erp_invoice_client;
		BULK INSERT bronze.erp_invoice_client
		FROM 'C:\Users\jason\Desktop\DataWarehouseProject\datasets\src_erp\invoice_client.csv'
		WITH (
			FIRSTROW = 2,
			FIELDTERMINATOR = ',',
			TABLOCK
		);
		SET @end_time = GETDATE();
		PRINT '-- Load Time: ' + CAST (DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		
		-- Load ERP client info data:
		SET @start_time = GETDATE();
		PRINT '-- Truncating Table: bronze.erp_product_details';
		TRUNCATE TABLE bronze.erp_product_details;
		BULK INSERT bronze.erp_product_details
		FROM 'C:\Users\jason\Desktop\DataWarehouseProject\datasets\src_erp\product_details.csv'
		WITH (
			FIRSTROW = 2,
			FIELDTERMINATOR = ',',
			TABLOCK
		);
		SET @end_time = GETDATE();
		PRINT '-- Load Time: ' + CAST (DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';

		-- Load ERP product category data:
		SET @start_time = GETDATE();
		PRINT '-- Truncating Table: bronze.erp_invoice_transactions';
		TRUNCATE TABLE bronze.erp_invoice_transactions;
		BULK INSERT bronze.erp_invoice_transactions
		FROM 'C:\Users\jason\Desktop\DataWarehouseProject\datasets\src_erp\invoice_transactions.csv'
		WITH (
			FIRSTROW = 2,
			FIELDTERMINATOR = ',',
			TABLOCK
		);
		SET @end_time = GETDATE();
		PRINT '-- Load Time: ' + CAST (DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		PRINT '===============================================';
		 -- All tables loaded, print the total time for the full batch run
		SET @batch_end_time = GETDATE();
		PRINT '-- Total Load Time: ' + CAST (DATEDIFF(SECOND, @batch_start_time, @batch_end_time) AS NVARCHAR) + ' seconds';
		PRINT '===============================================';

	-- Thrown errors: 
	END TRY
	BEGIN CATCH
		PRINT '===============================================';
		PRINT 'ERROR HAS OCCURED, WHEN LOADING BRONZE LAYER';
		PRINT 'Error Message' + ERROR_MESSAGE();
		PRINT 'Error Number' +  CAST (ERROR_NUMBER() AS NVARCHAR);
		PRINT 'Error Message' +  CAST (ERROR_STATE() AS NVARCHAR);
		PRINT '===============================================';
	END CATCH

END

GO
USE [master]
GO
